<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>NYC Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>The weather in New York is <%= @nyc_weather %></h1>
  </body>
</html>
